<div>
  <h2 id="page-heading" data-cy="ParedeHeading">
    <span>Paredes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-parede"
        [routerLink]="['/parede/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Criar novo Parede </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="paredes?.length === 0">
    <span>Nenhum Parede encontrado</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="paredes && paredes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span>Código</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="largura"><span>Largura</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="altura"><span>Altura</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="numPortas"><span>Num Portas</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="numJanelas"><span>Num Janelas</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sala.nome"><span>Sala</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let parede of paredes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/parede', parede.id, 'view']">{{ parede.id }}</a>
          </td>
          <td>{{ parede.largura }}</td>
          <td>{{ parede.altura }}</td>
          <td>{{ parede.numPortas }}</td>
          <td>{{ parede.numJanelas }}</td>
          <td>
            <div *ngIf="parede.sala">
              <a [routerLink]="['/sala', parede.sala.id, 'view']">{{ parede.sala?.nome }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/parede', parede.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Visualizar</span>
              </button>

              <button type="submit" [routerLink]="['/parede', parede.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Editar</span>
              </button>

              <button type="submit" (click)="delete(parede)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Excluir</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
