<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1 data-cy="registerTitle">Cadastro</h1>

      <div class="alert alert-success" *ngIf="success">
        <strong>Cadastro realizado com sucesso!</strong> Favor verificar seu e-mail para confirmar a conta.
      </div>

      <div class="alert alert-danger" *ngIf="error"><strong>Erro ao realizar o cadastro!</strong> Favor tentar novamente mais tarde.</div>

      <div class="alert alert-danger" *ngIf="errorUserExists"><strong>Usuário já registrado!</strong> Favor escolher outro.</div>

      <div class="alert alert-danger" *ngIf="errorEmailExists"><strong>E-mail já está em uso!</strong> Por favor informe outro.</div>

      <div class="alert alert-danger" *ngIf="doNotMatch">A senha e sua confirmação devem ser iguais!</div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
        <div class="mb-3">
          <label class="form-label" for="login">Usuário</label>
          <input
            type="text"
            class="form-control"
            id="login"
            name="login"
            placeholder="Seu usuário"
            formControlName="login"
            data-cy="username"
            #login
          />

          <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.required"> O usuário é obrigatório. </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.minlength">
              O usuário deve ter pelo menos 1 caractere.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.maxlength">
              O usuário não pode ter mais de 50 caracteres.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.pattern"> Your username is invalid. </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="email">E-mail</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Seu e-mail"
            formControlName="email"
            data-cy="email"
          />

          <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.required"> O e-mail é obrigatório. </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.invalid"> E-mail inválido. </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.minlength">
              O e-mail deve ter pelo menos 5 caracteres
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.maxlength">
              O e-mail não pode ter mais de 50 caracteres
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="password">Nova senha</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Nova senha"
            formControlName="password"
            data-cy="firstPassword"
          />

          <div
            *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.required"> A senha é obrigatória. </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.minlength">
              A senha deve ter pelo menos 4 caracteres
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.maxlength">
              A senha não pode ter mais de 50 caracteres
            </small>
          </div>

          <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
        </div>

        <div class="mb-3">
          <label class="form-label" for="confirmPassword">Confirmação de nova senha</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Confirme a nova senha"
            formControlName="confirmPassword"
            data-cy="secondPassword"
          />

          <div
            *ngIf="
              registerForm.get('confirmPassword')!.invalid &&
              (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.required">
              A confirmação da senha é obrigatória.
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.minlength">
              A confirmação da senha deve ter pelo menos 4 caracteres
            </small>

            <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength">
              A confirmação da senha não pode ter mais de 50 caracteres
            </small>
          </div>
        </div>

        <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary" data-cy="submit">Cadastrar</button>
      </form>

      <div class="mt-3 alert alert-warning">
        <span>Se deseja </span>
        <a class="alert-link" routerLink="/login">entrar</a
        ><span
          >, utilize as seguintes contas padrões:<br />- Administrador (usuário="admin" and senha="admin") <br />- Usuário (usuário="user" e
          senha="user").</span
        >
      </div>
    </div>
  </div>
</div>
